@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

div {
  font-family: 'Press Start 2P';
}

#game {
	background-color: #000000;
}

#main {
	position: fixed;
}

#labels {
	color: #fff;
	position: relative;
}

.label {
	position: absolute;
	text-align: center;
	width: 100%;
}

#label_1 {
	top: -230px;
	left: 0px;
}

#label_2 {
	top: -210px;
	left: 0px;
}

#label_3 {
	top: -190px;
	left: 0px;
}

#label_4 {
	top: -170px;
	left: 0px;
}

#label_5 {
	top: -150px;
	left: 0px;
}

#label_6 {
	color: #f00;
	top: -50px;
	left: 0px;
}